@charset "utf-8";

/* Styles for search views: */

#search-results {
    border-collapse: collapse;
    margin-bottom: 1em;
    margin-top: 1em;
    table-layout: fixed;
    width: 100%;
}

.search-result.odd {
    background: #d4d4d4;
}

.search-cell {
    padding: 8px 12px;
    text-align: left;
}

.search-cell.top {
    padding-top: 12px;
}

.search-cell.bot {
    padding-bottom: 12px;
}

.search-cell.first {
    width: 10ex;
}

.search-cell.id {
    width: 7%;
}

.search-cell.name {
    width: 12%;
}

.search-cell.last {
    vertical-align: top;
    width: 12ex;
}

th.search-cell {
    text-align: right;
    width: 5%;
}
